@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

.productivity-circle {
    background: conic-gradient(
        #007efc var(--progress),
        #27272a var(--progress)
    );

    transition: --progress 700ms ease-in-out;
}

@property --progress {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 0%;
}
#task-list::-webkit-scrollbar {
    height: 8px;
}
#task-list::-webkit-scrollbar-thumb {
    background: rgba(59, 130, 246, 0.4);
    border-radius: 9999px;
}
#task-list::-webkit-scrollbar-thumb:hover {
    background: rgba(59, 130, 246, 0.6);
}
#task-list::-webkit-scrollbar-track {
    background: transparent;
}
